<audio class="fail-sound" preload="auto"><source src="audio/fart1.mp3"></audio>
<audio class="fail-sound" preload="auto"><source src="audio/fart2.mp3"></audio>
<audio class="fail-sound" preload="auto"><source src="audio/fart3.mp3"></audio>
<audio class="fail-sound" preload="auto"><source src="audio/fart2.mp3"></audio>
<audio class="fail-sound" preload="auto"><source src="audio/fart1.mp3"></audio>
<audio class="fail-sound" preload="auto"><source src="audio/fart3.mp3"></audio>
<audio class="success-sound" preload="auto"><source src="audio/success.mp3"></audio>
<audio class="keypress-sound" preload="auto"><source src="audio/keypress.mp3"></audio>
<audio class="keypress-sound" preload="auto"><source src="audio/keypress.mp3"></audio>
<audio class="keypress-sound" preload="auto"><source src="audio/keypress.mp3"></audio>
<audio class="keypress-sound" preload="auto"><source src="audio/keypress.mp3"></audio>
<audio class="keypress-sound" preload="auto"><source src="audio/keypress.mp3"></audio>
<audio class="keypress-sound" preload="auto"><source src="audio/keypress.mp3"></audio>