<div id="competition">

    <div class="well problem-type">
        <select class="select" required data-input="mathTypeSelected" data-select="mathTypeOptions"></select>
        <select class="select" required data-input="mathDifficulty" data-select="difficultyOptions"></select>
    </div>
    <div class="well profile">
        <label data-text="'Name'"></label>
        <input data-input="profile.name" type="text">
        <label data-text="'Age'"></label>
        <input data-input="profile.age" type="number" min="1">
    </div>
    <button class="action" data-trigger="startCompetition" data-text="'Start'"></button>
    <div class="error" data-text="competition.error">

</div>