<div class="number-pad" dir="ltr">
    <button class="number key" data-key="1" data-click="keypadPress">1</button>
    <button class="number key" data-key="2" data-click="keypadPress">2</button>
    <button class="number key" data-key="3" data-click="keypadPress">3</button>
    <button class="number key" data-key="4" data-click="keypadPress">4</button>
    <button class="number key" data-key="5" data-click="keypadPress">5</button>
    <button class="number key" data-key="6" data-click="keypadPress">6</button>
    <button class="number key" data-key="7" data-click="keypadPress">7</button>
    <button class="number key" data-key="8" data-click="keypadPress">8</button>
    <button class="number key" data-key="9" data-click="keypadPress">9</button>
    <button class="backspace key with-icon" data-click="backspace"><img src="css/images/backspace.svg" /></button>
    <button class="number key" data-key="0" data-click="keypadPress">0</button>
    <button class="point key" data-key="." data-click="keypadPress">.</button>
    <button class="enter key with-icon" data-click="next"><img src="css/images/checkmark.svg" /></button>
</div>